<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Bonne route</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="goToSettings()">
                <ion-icon slot="icon-only" name="settings"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <google-map></google-map>
    <ion-card class="welcome-card">
        <ion-card-header>
            <ion-card-title color="secondary">Détails de l'indice de sécurité</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-list>
                <ion-item *ngFor="let i of this.it.paths">
                    <ion-icon slot="start" name="walk"></ion-icon>
                    <ion-label>
                        <h2 class="bold">{{i.duration}}</h2>
                        <h3>{{i.distance}}</h3>
                    </ion-label>
                    <!--<p>{{ i.message }}</p>-->
                    <ion-note slot="end" class="bold ion-color" [ngClass]="getColor(i.getRating())">{{i.getRating()}}%
                    </ion-note>
                </ion-item>
            </ion-list>
        </ion-card-content>
    </ion-card>
</ion-content>
