<!--
Licensed to the Eyjafjoll under one or more agreements.
Eyjafjoll licenses this file to you under the MIT license.
See the LICENSE file in the project root for more information.
-->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Ou aller?</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="goToSettings()">
        <ion-icon slot="icon-only" name="settings"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content center text-center>
    <ion-segment class="ion-padding" [(ngModel)]="travelMode" value="WALKING">
        <ion-segment-button value="WALKING">
            <ion-icon name="walk"></ion-icon>
        </ion-segment-button>
        <!--<ion-segment-button value="cart">
            <ion-icon name="cart"></ion-icon>
        </ion-segment-button>-->
        <ion-segment-button value="BICYCLING">
            <ion-icon name="bicycle"></ion-icon>
        </ion-segment-button>
    </ion-segment>

    <ion-item>
        <ion-icon slot="start" name="pin"></ion-icon>
        <ion-label position="floating">Votre position</ion-label>
        <ion-input clearInput [(ngModel)]="origin"></ion-input>
    </ion-item>

    <ion-item>
        <ion-icon slot="start" name="radio-button-on"></ion-icon>
        <ion-label position="floating">Destination</ion-label>
        <ion-input autofocus="true" clearInput [(ngModel)]="destination"></ion-input>
    </ion-item>

    <ion-button class="ion-margin"  (click)="calculateItenerary()" shape="round">Rechercher</ion-button>

</ion-content>
