<ion-header>
  <ion-toolbar>
    <ion-segment (ionChange)="segmentChanged($event)" value="walk">
      <ion-segment-button value="walk">
        <ion-icon name="walk"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="cart">
        <ion-icon name="cart"></ion-icon>
      </ion-segment-button>
      <ion-segment-button value="bicycle">
        <ion-icon name="bicycle"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>



    <ion-item>
        <ion-label position="floating">Départ</ion-label>
        <ion-input clearInput></ion-input>
    </ion-item>

    <ion-item>
        <ion-label position="floating">Arrivée</ion-label>
        <ion-input clearInput></ion-input>
    </ion-item>

    <ion-item text-center>
        <ion-button shape="round">Départ</ion-button>
    </ion-item>


    <ion-card class="welcome-card">
      <ion-img src="/assets/shapes.svg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>Get Started</ion-card-subtitle>
        <ion-card-title>Welcome to Ionic</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>Now that your app has been created, you'll want to start building out features and components. Check out some of the resources below for next steps.</p>
      </ion-card-content>
    </ion-card>
    <ion-list lines="none">
      <ion-list-header>
        <ion-label>Resources</ion-label>
      </ion-list-header>
      <ion-item href="https://ionicframework.com/docs/">
        <ion-icon slot="start" color="medium" name="book"></ion-icon>
        <ion-label>Ionic Documentation</ion-label>
      </ion-item>
    </ion-list>
</ion-content>
